<h2>Ajouter une partie</h2>

<app-select-players-form (selectedPlayer)="selectedPlayer($event)"></app-select-players-form>

<div class="flex items-center">
  <button
    mat-raised-button
    color="primary"
    class="!m-[19px] !ml-0"
    (click)="createNewGame()"
    [disabled]="false"
  >
    ADD GAME
  </button>

  <mat-error *ngIf="true" class="font-[500]">
    {{ twoPlayersNeededMsg | uppercase}}
  </mat-error>
</div>

<div>
  <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
    >{{ i }}<br
  /></ng-container>
</div>
