<div class="flex items-center bg-[rgba(30,41,59,0.5)] rounded-[4px] mb-[25px]">
  <h2>Add a new game</h2>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="dp" [(ngModel)]="date" />
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="!m-[19px]"
    [disabled]="!date"
    (click)="createNewGame()"
  >
    CREATE GAME
  </button>
</div>

<div>
  <span>{{ date | date: "full" }}</span
  ><br />

  <app-game-grid></app-game-grid>
</div>
