<header class="p-[25px] flex items-center">
  <h1 class="!mb-0 pl-[25px] text-slate-300">Be the Ball !</h1>
  <nav class="ml-[30px]">
    <a
      *ngFor="let page of pages"
      [routerLink]="[page.link]"
      class="m-[15px] text-slate-500 text-[18px] hover:text-slate-300"
      routerLinkActive="active-link"
      >{{ page.name }}</a
    >
  </nav>
</header>
<main>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="p-[25px]">
  <h4 class="!mb-0 text-slate-300 text-center">&copy; François Wauters 2022</h4>
</footer>
