<p>home works! aaaaaaaaaaaaaaaaaaaaaaa</p>

<button mat-raised-button color="primary" [routerLink]="['/', 'events']">
  EVENTS
</button>

<button mat-raised-button color="accent" (click)="create()">ADD ITEM</button>

<button mat-raised-button color="warn" (click)="filter()">FILTER</button>

<button mat-raised-button color="primary" (click)="removeFilter()">REM FILTER</button>

<mat-icon>home</mat-icon>

<ng-container *ngIf="items$ | async; let items; else: loading">
  <ng-container *ngIf="items.length > 0; else nothingFound">
    <div *ngFor="let item of items">
      {{ item?.name }}
      <span *ngIf="item?.test === collections.Players">{{
        item.date.seconds * 1000 | date: "full"
      }}</span>
      <button mat-button color="warn" (click)="deleteItem(item.id)">
        DELETE
      </button>
      {{ item?.id || "" }}
    </div>
  </ng-container>
  <ng-template #nothingFound>
    <em>Nothing found ...</em>
  </ng-template>
</ng-container>
<ng-template #loading> Loading ... </ng-template>
