<app-select-players-form
  [alreadyChosenError]="playerChosenTwice"
  (selectPlayer)="addPlayer($event)"
  (takeOffPlayer)="removePlayer()"
  (validatePlayers)="playersValidated = true"
></app-select-players-form>

<ng-container *ngIf="playersValidated">
  <mat-stepper #gameStepper [linear]="false" color="accent">
    <ng-container *ngFor="let frameForm of gameForms; let frameIndex = index">
      <mat-step [stepControl]="frameForm">
        <form [formGroup]="frameForm">
          <ng-template matStepLabel></ng-template>

          <ng-container *ngFor="let roll of [1, 2, 3]">
            <mat-form-field
              *ngIf="roll !== 3 || (roll === 3 && frameIndex === 9)"
              appearance="outline"
              color="accent"
              class="w-[100px] m-[10px]"
            >
              <mat-label>Roll {{ roll }}</mat-label>
              <mat-select [formControlName]="'roll' + roll" required>
                <mat-option *ngFor="let score of scores" [value]="score">
                  {{ score }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <div class="flex justify-between">
            <div>
              <ng-container *ngIf="frameIndex !== 0">
                <button mat-button matStepperPrevious>Back</button>
              </ng-container>
              <ng-container *ngIf="frameIndex !== 9; else saveBtn">
                <button mat-button matStepperNext>Next</button>
              </ng-container>
              <ng-template #saveBtn>
                <button mat-button (click)="saveGame()">Save</button>
              </ng-template>
            </div>

            <button mat-button color="warn" (click)="gameStepper.reset()">
              Reset
            </button>
          </div>
        </form>
      </mat-step>
    </ng-container>
  </mat-stepper>
</ng-container>
