@use "@angular/material" as mat;
@include mat.core();

$color-mat-primary: mat.define-palette(mat.$indigo-palette, 400);
$color-mat-accent: mat.define-palette(mat.$amber-palette, 400);

$bowling-theme: mat.define-dark-theme(
  (
    color: (
      primary: $color-mat-primary,
      accent: $color-mat-accent,
    ),
  )
);

@include mat.all-component-themes($bowling-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

$color-bowling-floor: #fadbab;
$color-tailwind-slate-400: #94a3b8;
$color-tailwind-slate-800: #1e293b;
$color-tailwind-slate-800-op50: rgba(30, 41, 59, 0.5);

// TODO : color material primary, accent, warn ???
// ? can I use $color-mat-primary, accent, etc.. ?

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-tailwind-slate-800;
}
main {
  padding: 0 25px;

  .main-content {
    padding: 25px;
    border: solid 4px $color-tailwind-slate-400;
    border-radius: 25px;
    background-image: url("./assets/bowling-floor.png");
  }
}
